th, td {
    padding: 0.3em 0.5em 0.3em 0em;
}

.device-view {
    font-size: medium;
    position: absolute;
    left: 9em;
    right: 0px;
    margin: 0em auto 0em 3em;
    padding: 5em 0em;
    height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
}

.device-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3em;
    margin-right: 4em;
    min-width: 0px; 
}   


.project-mini {
    font-size: small;
    width: 17em;
    background-color: rgb(243, 243, 243, 0.9);
    border-radius: 5px;
    padding: 0.5em 0.8em;
    margin: 0.3em 0.2em 0.3em 0em;
    border: 1px solid #c0c0c0;
}

.usage-data {
    color: #7a7a7a;
    margin: 3em 2em 0em 0em;
    width: 50%;
    max-width: 100em;
    min-width: 32em;
    font-size: small;
    background: rgb(243, 243, 243, 0.85);
    border-radius: 5px;
    border: 1px solid #c0c0c0;
}

.usage-graph {
    padding: 2em 2em 0em 1em;
}

.usage-console {
    color: rgb(233, 233, 233);
    background: rgba(48, 48, 48, 0.5);
    margin-top: 2.5em;
    height: 22em;
    min-width: 17em;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
}

.fraction-graph {
    display: flex;
    flex-wrap: wrap;
    /* border-top: 1px solid #c0c0c0; */
}

.tasks {
    overflow-y: scroll;
    box-sizing: border-box;
    color: #7a7a7a;
    background: rgb(243, 243, 243, 0.85);
    margin-top: 2em;
    height: 35em;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    width: 50%;
}

.task {
    padding: 1em;
    border-top: 1px solid #c0c0c0;
}